
<div id="container">
    <img src="/images/img_splash.png" alt="" id="splash">
  
  <div id="content">
  <img src="/images/logo_white.svg" alt="" id="logo">
  <h1>ALISSAR ARNAOUT</h1>
  <h3>designer / dreamer / nice person</h3>
  <div class="arrow bounce">
      <a href="#about"><img src="/images/arrow.png" alt="" id="arrow"></a>
    </div>
  </div>
  
</div>



  <div id="about">
    <h2>WHO AM I?</h2>
    <img src="/images/divider.png" alt="divider" class="divider">

    <div id="about-profile" class="glitch">
        <img src="/images/img_profile.png" alt="" id="profile">
      </div>

  <div id="about-desc">
    <p>A former baby.</p>
    <p>A current Media Theory and Production student.</p>
    <p>An inhabitant of the city of Mississauga.</p>
    <p>A culture enthusiast.</p>
    <p>A photographer of beautiful people, places and things.</p>
    <p>A speaker of 2.5 languages.</p>
    <p>A dedicated watcher of tech documentaries.</p>
    <p>A shooter of bows and arrows.</p>
    <p>An aspiring Creative Director.</p>
  </div>
</div>

<div id="work">
<h2>WORK</h2>
    <img src="/images/divider.png" alt="divider" class="divider">


<!-- database stuff -->

  <!-- <div class="team"> -->
        <!-- loop through all our team members and put their info on the page -->
        <!-- this is exactly like a forEach loop with plain JS -->
        
       <!-- {{#each piece}}
        <div class="user-panel">
            <img class="u-avatar" src="/images/{{ Preview }}" alt="avatar">

            <a class="u-link" href="{{ ID }}">
                See More Info
            </a>

            <h1>{{ Project }}</h1>
            <h3>{{ Tools}}</h3>
        </div>
        {{/each}}
        
    </div>
    </div> -->

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <!-- <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">

        </div> -->



<div id="portfolio">  <!-- END HERE-->

    <div class="r">
  <div class="c">
    <img src="/images/infographic_preview.png" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="c">
    <img src="/images/1.png" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="c">
    <img src="/images/2.png" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="c">
    <img src="/images/3.png" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="/images/infographic_preview.png" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="/images/1.png" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="/images/2.png" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="/images/3.png" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>


    <div class="c">
      <img class="demo cursor" src="img_nature_wide.jpg" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
    </div>
    <div class="c">
      <img class="demo cursor" src="img_snow_wide.jpg" style="width:100%" onclick="currentSlide(2)" alt="Snow">
    </div>
    <div class="c">
      <img class="demo cursor" src="img_mountains_wide.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="c">
      <img class="demo cursor" src="img_lights_wide.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
  </div>
</div>

  
      </div>

 

  <div id="demo">
    <img src="/images/divider_yllw.png" alt="divider-yellow" class="divider-yllw">
  

    <div class="demoreel">
        <video controls poster="/images/video_preview.png" class="text-center" width="100%">
            <source src="/videos/Arnaout_A_Demo.mp4" type="video/mp4">
            <source src="/videos/Arnaout_A_Demo.ogg" type="video/ogg">
            <source src="/videos/Arnaout_A_Demo.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
  </div>


  <div id="photography">
      <h2>PHOTOGRAPHY</h2>
      <img src="/images/divider.png" alt="divider" class="divider">
      
      <div id="gallery">
      <div class="row">
          <div class="column">
            <img src="/images/12.png">
            <div class="overlay">
                <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Taz</div>
                <div class="text-desc">Kuwait City, Kuwait</div></a>
              </div>
          </div>

          <div class="column">
              <img src="/images/1.png">
              <div class="overlay">
                  <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                  <div class="text-desc">Hamilton, ON</div></a>
                </div>
            </div>

            <div class="column">
                <img src="/images/8.png">
                <div class="overlay">
                    <a href="https://vsco.co/byalissar/media/5deb456e42d5d151f900000b" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                    <div class="text-desc">Mont-Tremblant, QC</div></a>
                  </div>
              </div>

              <div class="column">
                  <img src="/images/4.png">
                  <div class="overlay">
                      <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                      <div class="text-desc">Ottawa, ON</div></a>
                    </div>
                </div>

                <div class="column">
                    <img src="/images/10.png">
                    <div class="overlay">
                        <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                        <div class="text-desc">Mississauga, ON</div></a>
                      </div>
                  </div>
        </div>
        <div class="row">
            <div class="column">
              <img src="/images/2.png">
              <div class="overlay">
                  <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                  <div class="text-desc">Niagara Falls, ON</div></a>
                </div>
            </div>

            <div class="column">
                <img src="/images/6.png">
                <div class="overlay">
                    <a href="https://vsco.co/byalissar/media/5dea0e6b42d5d1676a00000e" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                    <div class="text-desc">Québec City, QC</div></a>
                  </div>
              </div>

              <div class="column">
                  <img src="/images/3.png">
                  <div class="overlay">
                      <a href="https://vsco.co/byalissar/media/56b44858a624782d158b4567" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                      <div class="text-desc">Oakville, ON</div></a>
                    </div>
                </div>

                <div class="column">
                    <img src="/images/9.png">
                    <div class="overlay">
                        <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                        <div class="text-desc">Vieux-Québec, QC</div></a>
                      </div>
                  </div>

                  <div class="column">
                      <img src="/images/5.png">
                      <div class="overlay">
                          <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                          <div class="text-desc">Lakeshore, ON</div></a>
                        </div>
                    </div>
          </div>
          <div class="row">
              <div class="column">
                <img src="/images/7.png">
                <div class="overlay">
                    <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                    <div class="text-desc">Mississauga, ON</div></a>
                  </div>
              </div>

              <div class="column">
                  <img src="/images/19.png">
                  <div class="overlay">
                      <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                      <div class="text-desc">Niagara, ON</div></a>
                    </div>
                </div>

                <div class="column">
                    <img src="/images/13.png">
                    <div class="overlay">
                        <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                        <div class="text-desc">Québec City, QC</div></a>
                      </div>
                  </div>

                  <div class="column">
                      <img src="/images/20.png">
                      <div class="overlay">
                          <a href="https://vsco.co/byalissar/media/5deb3f9d42d5d151f9000001" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                          <div class="text-desc">Québec, QC</div></a>
                        </div>
                    </div>

                    <div class="column">
                        <img src="/images/15.png">
                        <div class="overlay">
                            <a href="https://www.instagram.com/" target="_blank"><div class="text-title">Tazgeihgregwgw</div>
                            <div class="text-desc">Beirut, Lebanon</div></a>
                          </div>
                      </div>
            </div>
    </div>
      


  <div id="contact">
    <div id="email-bttn">
    <a href=><img src="/images/email_icon.svg" alt="" id="email-icon"></a>
  </div>
    <div id="my-email"><h4>alissar@arnaout.com</h4> <!-- email link here --></div>
    <img src="/images/divider_yllw.png" alt="divider-yellow" class="divider-yllw">
  <h5>“Each step you take reveals a new horizon.” <br>― Dan Poynter</h5>
  

<section class="contact-form">
<form action="">
  <input type="text" name="name" required placeholder="Your Name*" class="input-length">
  <input type="email" name="usermail" required placeholder="Your Email*" class="input-length">
  <textarea name="message" id="user-message" required placeholder="Your Inquiry*" cols="30" rows="6"></textarea>

  <input type="submit" value="Let's Talk" class="submit-button">

</form>
</section>

<div id="socials">
  <a href="http://instagram.com/byalissar" target="blank"><img src="/images/icon_instagram.svg" alt="Instagram: @byalissar" class="social"></a>
  <a href="https://www.linkedin.com/in/alissararnaout" target="blank"><img src="/images/icon_linkedin.svg" alt="LinkedIn: alissararnaout" class="social"></a>
  <a href="https://vsco.co/byalissar" target="blank"><img src="/images/icon_vsco.svg" alt="Instagram: @byalissar" class="social"></a>
</div>

<img src="/images/divider_yllw.png" alt="divider-yellow" class="divider-yllw">
</div>