<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/style.css">



    <title>by Alissar</title>
</head>
<body>


<header>
      <!-- nav goes here -->  
</header>


<div id="container">
  <img src="/public/images/logo_white.svg" alt="" id="logo">
  <h1>ALISSAR ARNAOUT</h1>
  <h3>designer / dreamer / nice person</h3>
  <div class="arrow bounce">
      <a href="#"><img src="/public/images/arrow.png" alt="" id="arrow"></a>
    </div>
</div>



  <div id="about">
    <h2>WHO AM I?</h2>
    <img src="/public/images/divider.png" alt="divider" class="divider">

    <div id="about-profile">
        <img src="/public/images/img_profile.png" alt="" id="profile">
      </div>

  <div id="about-desc">
    <p>A former baby.</p>
    <p>A current Media Theory and Production student.</p>
    <p>An inhabitant of the city of Mississauga.</p>
    <p>A culture enthusiast.</p>
    <p>A photographer of beautiful people, places and things.</p>
    <p>A speaker of 2.5 languages.</p>
    <p>A dedicated watcher of tech documentaries.</p>
    <p>A shooter of bows and arrows.</p>
    <p>An aspiring Creative Director.</p>
  </div>
</div>

<div id="work">
<h2>WORK</h2>
    <img src="/public/images/divider.png" alt="divider" class="divider">
</div>

  <!-- database stuff here -->

  <div id="demo">
    <img src="/public/images/divider_yllw.png" alt="divider-yellow" class="divider-yllw">
  </div>

  <!-- video here-->

  <div id="photography">
      <h2>PHOTOGRAPHY</h2>
      <img src="/public/images/divider.png" alt="divider" class="divider">
  </div>


  <div id="contact">
    <img src="/public/images/email_icon.svg" alt="" id="email-icon">
    <h4>alissar@arnaout.com</h4> <!-- email link here -->
    <img src="/public/images/divider_yllw.png" alt="divider-yellow" class="divider-yllw">
  <h5>“Each step you take reveals a new horizon.” <br>― Dan Poynter</h5>
  
<!-- form goes here-->

  </div>
  


    <script src="js/main.js"></script>
</body>
</html>