#about {
    padding-left: 400px;
    padding-right: 400px;
    height: 760px;
}

#about-profile {
    float: right;
    margin-top: 100px;
    margin-right: 80px;
    #profile {
        width: 95%; 
    }
}

#about-desc {
    margin-top: 80px;
}
