#work {
  margin: 0 auto;
}

#portfolio {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}


.r {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

/* Create four equal columns that sits next to each other */
.col {
  flex: 10%;
  position: relative;

}

.col img {
  vertical-align: middle;
  width: 100%;
}


.overlay a {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #53225C;
overflow: hidden;
width: 100%;
height: 100%;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
-webkit-transition: .3s ease;
transition: .3s ease;
border-radius: 100%;
}

.col:hover a {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
background: rgba($color: #53225C, $alpha: 0.7);
}

.text-title {
color: white;
font-size: 20px;
position: absolute;
top: 45%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.text-desc {
  color: white;
  font-size: 15px;
  position: absolute;
  top:55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 10px;
}





/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



/* external links */ 
#nav-close {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40px;
  -webkit-transition: width 1s, height 1s, -webkit-transform 2s;
  transition: width 1s, height 1s, transform 1s;
}

#content {
  padding-left: 200px;
  padding-right: 200px;
} 

#project-info {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 100px;
}


.backbttn {
  width: 4%;
  -webkit-transition: width 1s, height 1s, -webkit-transform 2s;
  transition: width 1s, height 1s, transform 1s;
}

.backbttn:hover {
  width: 5%;
  -webkit-transform: rotate(-180deg);
        transform: rotate(180deg);
}


#content img {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

#project {
  margin-bottom: 40px;
}

#project h2 {
  font-size: 30px;
}

#description {
  text-align: center;
  margin-top: 80px;
  width: 700px;
  margin:0 auto;
  p {
    line-height: 30px;
  }


}

#process {
  text-align: center;
  margin-top: 100px;
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

#tools {
  text-align: center;
  margin-top: 100px;
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.top {
  text-align: center;
  margin-top: 30px;
}

.top a{
  text-decoration: none;
  color: #FF6B8D;
}

.top a:hover {
  text-decoration: un;
}