@import 'modules/nav';
@import 'modules/splash';
@import 'modules/about';
@import 'modules/work';
@import 'modules/contact';
@import 'modules/photography';
@import 'modules/footer';
@import 'modules/video';



body {
    font-family: 'Poiret One', cursive;;
}

.clearfix {
    overflow: hidden;
}

h1, h2, h3, h4 {
    text-align: center;
    letter-spacing: 1px;
}

h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: 30px;
}

h2 {
    color: #212121;
    font-size: 27px;
    letter-spacing: 1px;
}

h3 {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
}

h4 {
    color: #FF6B8D;
    font-size: 22px;
}

p {
    color: #212121;
    font-size: 20px;
    line-height: 18px;
}

.divider {
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.divider-yllw {
  margin: 0 auto;
  display: block;
  margin-top: 40px;  
}
