#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #53225C;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #FF6B8D;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  border: 1px #FFD25E;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #53225C;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #53225C;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100%;
  height: 700px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 200px;
  text-align: center;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 25px;
  margin-bottom: 20px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#container {
  margin: 0 auto;
  max-width: 100%;
  background-color: red;
  background-image: url(/images/img_splash.png);
  display: block;
  padding-top: 200px;
  height: 650px;
}

#logo {
  width: 12%;
  margin: 0 auto;
  display: block;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.arrow img {
  border: solid white 4px;
  border-radius: 100%;
  padding: 15px;
  width: 2%;
}

#about {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#about-profile {
  float: right;
  margin-top: 110px;
}

#about-profile #profile {
  width: 70%;
}

#about-desc {
  margin-top: 100px;
}

#portfolio {
  margin: 0 auto;
  margin-top: 50px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team .user-panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  text-align: center;
  padding: 8px;
}

.team .user-panel .u-avatar {
  max-width: 200px;
}

.team .user-panel .u-link {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.team .user-panel h1, .team .user-panel h3 {
  margin: 5px 0;
}

@media screen and (min-width: 900px) {
  .team .user-panel {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .team .user-panel .u-avatar {
    max-width: 300px;
  }
}

.lightbox {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5000;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}

.lightbox .sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.lightbox .lb-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.lightbox img {
  max-width: 250px;
}

.lightbox .close {
  right: 24px;
  top: 10px;
  cursor: pointer;
  font-size: 2em;
  position: fixed;
  border: thin solid white;
  padding: 2px 14px 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
}

.show-lb {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.u-social li {
  display: inline-block;
  padding: 10px;
}

#email-icon {
  width: 5.5%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  -webkit-transition: width 1s, height 1s, -webkit-transform 2s;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
  transition: width 1s, height 1s, transform 1s, -webkit-transform 1s;
}

#email-icon:hover {
  width: 6.5%;
  -webkit-transform: rotate(-180deg);
  transform: rotate(180deg);
}

h5 {
  color: #53225C;
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
  line-height: 35px;
}

.contact-form {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.contact-form input {
  border: solid 2px #FF6B8D;
  font-family: 'Poiret One', cursive;
  width: 600px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  color: #121212;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-form textarea {
  border: solid 2px #FF6B8D;
  font-family: 'Poiret One', cursive;
  color: #121212;
  width: 600px;
  height: 90px;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.contact-form .submit-button {
  border: solid 3px #53225C;
  width: 200px;
  font-size: 18px;
  margin-top: 20px;
}

.contact-form .submit-button:hover {
  background-color: #53225C;
  color: white;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#socials {
  text-align: center;
  margin-top: 100px;
}

#socials img {
  width: 3%;
}

#socials .social {
  -webkit-transition: width 1s, height 1s, -webkit-transform 2s;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
  transition: width 1s, height 1s, transform 1s, -webkit-transform 1s;
}

#socials .social:hover {
  width: 3.5%;
  -webkit-transform: rotate(-180deg);
  transform: rotate(180deg);
}

#gallery {
  margin: 0 auto;
  margin-top: 50px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  max-width: 100%;
  position: relative;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

.overlay a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #53225C;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 100%;
}

.column:hover a {
  -webkit-transform: scale(1);
  transform: scale(1);
  background: rgba(83, 34, 92, 0.7);
}

.text-title {
  color: white;
  font-size: 21px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-desc {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

footer {
  text-align: center;
}

footer p {
  margin-top: 50px;
  font-size: 13px;
}

.demoreel {
  margin-top: 50px;
  margin-bottom: 60px;
}

video {
  width: 75%;
  margin: 0 auto;
  display: block;
}

body {
  font-family: 'Poiret One', cursive;
}

.clearfix {
  overflow: hidden;
}

h1, h2, h3, h4 {
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  margin-top: 30px;
}

h2 {
  color: #212121;
  font-size: 27px;
  letter-spacing: 1px;
}

h3 {
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
}

h4 {
  color: #FF6B8D;
  font-size: 22px;
}

p {
  color: #212121;
  font-size: 20px;
  line-height: 18px;
}

.divider {
  margin: 0 auto;
  display: block;
  margin-top: 5px;
}

.divider-yllw {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */